*{
    margin: 0px;
    padding: 0px;
    color: white;
}

html{
    scroll-behavior: smooth;
}

body{
    /* background-color: black; */
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: black;
}

:root{
    --navbar-height: 59px; 
}

#nav{
    display: flex;
    align-items: center;
    position: sticky;
    top: 0;
    font-family: 'Abel', sans-serif;
}

#nav::before{
    content: "";
    background-color: black;
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: -1;
    opacity: 0.3;
    border-radius: 20px;
}

#logo{
    margin: 17px 16px;
}

#logo img{
    height: 65px;
    margin: 8px 7px;
    border-radius: 20px;
    border: 1px solid rgb(0, 0, 68);
}

#nav ul{
    display: flex;
}

#nav ul li{
    /* color: white; */
    list-style: none;
    font-size: 1.5rem;
}

#nav ul li a{
    display: block;
    padding: 3px 22px;
    margin: 2px;
    text-decoration: none;
    border-radius: 20px;
    color: white;
    transition: 0.2s ease-in;
}

#nav ul li a:hover{
    color: black;
    background-color: white;
}





/* Home section */

#home{
    display: flex;
    flex-direction: column;
    padding: 20px 20px;
    align-items: center;
    justify-content: center;
    /* position: relative; */
    color: rgb(0, 22, 67);
    height: 400px;
}

#home::before{
    content: "";
    position: absolute;
    height: 80%;
    width: 100%;
    background: url(JetSetWee_banner.jpg) no-repeat center center/cover;
    opacity: 0.6;
    z-index: -1;
    top: 0px;
    left: 0px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

#home h1{
    color: white;
    text-align: center;
    text-shadow: 2px 2px  black;
}

#home p{
    color: white;
    text-align: center;
    font-size: 1.5rem;
    font-family: 'Abel', sans-serif;
    text-shadow: 2px 2px  black;
}

#services{
    margin: 34px;
    display: flex;
}

.box{
    border: 2px solid whitesmoke;
    margin: 3px 6px;
    border-radius: 30px;
    background-color: rgb(7, 7, 7);
    padding: 34px;
}

#services .box img{
      height: 160px;
      display: block;
      margin: auto;
}

.h-primary{
    font-size: 3.8rem;
    padding: 12px;
    margin: 30px 2px;
    font-family: 'Abel', sans-serif;
}

.center{
    text-align: center;
}

.h-secondary{
    font-size: 2.3rem;
    padding: 12px;
}

.btn{
    padding: 4px 20px;
    border: 2px solid black;
    background-color: rgb(2, 128, 177);
    margin: 17px;
    font-size: 1.5rem;
    border-radius: 10px;
    cursor: pointer;
}


.top::before{
    content: "";
    background-color: black;
    z-index: -1;
    position: absolute;
    height: 80%;
    width: 100%;
    opacity: 0.8;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

h2.center{
    text-shadow: 1px 1px skyblue;
}

.client-item{
    padding: 34px;
    margin: 20px;
}


#clients{
    display: flex;
    justify-content: center;
    align-items: center;
}

#client-section h1{
    text-shadow: 2px 2px blue;
}

#clients img{
    height: 124px;
    margin-left: 5px;
    margin-right: 5px;
    border-radius: 23px;
}

#samsung{
    width: 250px;
}


#client-section::before{
    content: "";
    opacity: 0.1;
    position: absolute;
    background-image: linear-gradient(black,rgb(0, 152, 235),rgb(157, 230, 255),rgb(0, 152, 235),black);
    z-index: -1;
    height: 54%;
    width: 100%;
    border: 20px;
}

#contact{
    position: relative;
}

#contact::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.3;
    background-image: linear-gradient(black,rgb(3, 20, 30),rgb(0, 50, 66),rgb(3, 20, 30),black);
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

#contact-box{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 34px;
}

#contact-box form{
    width: 40%;
}

#contact-box label{
    font-size: 1.3rem;
    font-family: 'Abel', sans-serif;
}

#contact-box input,#contact-box textarea{
    width: 100%;
    padding: 0.5rem;
    border-radius: 10px;
    background-color: rgb(21, 21, 21);
    border: none;
    margin-bottom: 10px;
}

footer{
    border: 2px solid white;
    background-color: black;
    color: white;
    padding: 9px 20px;
}

#contact h1{
    margin-bottom: 2px;
    text-shadow: 2px 2px blue;
}
